<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/homestyle.css"/>
    <title>{{.Title}}</title>
</head>
<body>
    <div class="container">
        <h1 class="animate-charcter">{{.Title}}</h1>
        <p id="explicaHome">{{.ExplicationHome}}</p>
        <a href="/hangmangame">
            <button id="playNow">
                <div class="waviy">
                    <span style="--i:1">C</span>
                    <span style="--i:2">o</span>
                    <span style="--i:3">m</span>
                    <span style="--i:4">m</span>
                    <span style="--i:5">e</span>
                    <span style="--i:6">n</span>
                    <span style="--i:7">c</span>
                    <span style="--i:8">e</span>
                    <span style="--i:9">r</span>
                    <span style="--i:10"> </span>
                    <span style="--i:11">l</span>
                    <span style="--i:12">e</span>
                    <span style="--i:13"> </span>
                    <span style="--i:14">j</span>
                    <span style="--i:15">e</span>
                    <span style="--i:16">u</span>
                </div>
            </button>
        </a>
    </div>
</body>
</html>
